@import "mixins/mixins";
@import "common/var";
@import "button";
@import "button-group";

// 日历
@include b(calendar) {
  background-color:white; /*全部 背景色*/

  @include e(header) {
    display: flex;
    justify-content: space-between;
    padding: 12px 20px;
    border-bottom: $--table-border; /*未找到对应*/
  }

  @include e(title) {
    color: $--color-text-primary; /*全部 月份文字色*/
    align-self: center;
  }

  @include e(body) {
    padding: 12px 20px 35px;
  }
}

@include b(calendar-table) {
  table-layout: fixed;
  width: 100%;

  thead th {
    padding: 12px 0;
    color: $--color-text-regular; /*全部 周文字色*/
    font-weight: normal;
  }

  &:not(.is-range) {
    td.prev,
    td.next {
      color: $--color-text-placeholder; /*基本 非本月文字色*/
    }
  }

  td {
    border-bottom: $--calendar-border;
    border-right: $--calendar-border;
    vertical-align: top;
    transition: background-color 0.2s ease;

    @include when(selected) {
      background-color: $--calendar-selected-background-color; /*全部 选中背景色*/
    }

    @include when(today) {
      color: $--color-primary; /*今日文字色*/
    }
  }

  tr:first-child td {
    border-top: $--calendar-border;
  }

  tr td:first-child {
    border-left: $--calendar-border;
  }

  tr.el-calendar-table__row--hide-border td {
    border-top: none;
  }

  @include b(calendar-day) {
    box-sizing: border-box;
    padding: 8px;
    height: $--calendar-cell-width;
    &:hover {
      cursor: pointer;
      background-color: $--calendar-selected-background-color; /*日历单元悬浮色*/
    }
  }
}
