@import "mixins/mixins";
@import "common/var";
@import "./checkbox";
@import "./radio";
@import "./scrollbar";

@include b(cascader-panel) {
  display: flex;
  border-radius: $--cascader-menu-radius; /*级联面板边框圆角，被下一个圆角样式所覆盖*/
  font-size: $--cascader-menu-font-size;  /*级联面板的文字和右箭头大小左勾号大小*/
 
  @include when(bordered) {
    border: $--cascader-menu-border; /*级联面板边框样式*/
    border-radius: $--cascader-menu-radius; /*级联面板边框圆角，应该是被下拉面板覆盖*//*和上一个的区别未知，都能让边框变成直角*/

  }
}

@include b(cascader-menu) {
  min-width: 180px; /*级联面板最小宽度*/
  box-sizing: border-box;
  color: $--cascader-menu-font-color;  /*级联面板默认文字、箭头色彩*/
  border-right: $--cascader-menu-border;   /*级联面板多级分割线*/

  &:last-child {
    border-right: none;
    .el-cascader-node {
      padding-right: 19px ;/*级联面板最后一版右侧padding*/
    }
  }

  @include e(wrap) {
    height: 204px; /*级联面板高度*/
  }

  @include e(list) {
    position: relative;
    min-height: 100%;
    margin: 0;
    padding: 7px 0; /*级联面板内容区-上下边缘距离*/
    list-style: none;
    box-sizing: border-box;
  }

  @include e(hover-zone) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }

  @include e(empty-text) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: $--cascader-color-empty; /*未找到对应*/
  }
}

@include b(cascader-node) {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 31px 0 19px; /*级联面板菜单单行左右间距*/
  height: 32px; /*级联面板菜单行高度*/
  line-height: 32px; /*级联面板菜单行高度*/
  outline: none;

  &.is-selectable.in-active-path {  /*选中某个标题展开下一级，但没选中这个标题本身*/ 
    color: $--color-primary;
    font-weight: $--options-font-weight-hover;
  }

  &.in-active-path,
  &.is-selectable.in-checked-path,
  &.is-active { /*选中某个选项或者选中其子层级*/
    color: $--cascader-menu-selected-font-color;
    font-weight: bold;
  }

  &:not(.is-disabled) {
    cursor: pointer;
    &:hover, &:focus {
      font-weight: $--options-font-weight-hover;
      background: $--cascader-node-background-hover; /*悬停状态，不是禁用*/
    }
  }

  @include when(disabled) {
    color: $--cascader-node-color-disabled;
    cursor: not-allowed;
  }

  @include e(prefix) { /*级联面板勾图标左侧间距*/
    position: absolute;
    left: 11px;
    font-size: $--select-dropdown-after-font-size;
    font-weight:$--select-dropdown-after-font-weight;
  }

  @include e(postfix) { /*级联面板箭头图标右侧间距*/
    position: absolute;
    right: 11px;
  }

  @include e(label) { 
    flex: 1;
    padding: 0 8px; /*级联面板标签左右间距*/
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  > .el-radio {
    margin-right: 0;

    .el-radio__label {
      padding-left: 0;
    }
  }
}
