@import "mixins/mixins";
@import "mixins/utils";
@import "common/var";
@import "common/transition";

@mixin menu-item {
  /*折叠与侧栏一致，不特别说明*/
  height: 56px;
  line-height: 56px;
  font-size: $--menu-item-font-size;
  color: $--menu-item-font-color; /*侧栏（默认颜色） 默认导航文字色和百分比降低透明度后禁用文字色*/
  padding: 0 20px;
  list-style: none;
  cursor: pointer;
  position: relative;
  transition: border-color 0.3s, background-color 0.3s, color 0.3s;
  box-sizing: border-box;
  white-space: nowrap;

  * {
    vertical-align: middle;
  }

  i {
    color: $--color-text-secondary; /*顶栏（全部） 我的工作台展开后第二级箭头图标色*/ /*侧栏（全部） 默认导航图标色和百分比降低透明度后禁用图标色  箭头图标色*/
  }

  &:hover,
  &:focus {
    outline: none;
    background-color: $--menu-item-background-color-hover; /*侧栏（默认颜色） 除导航一和选项4之外的导航悬停背景色*/
  }

  @include when(disabled) {
    opacity: 0.25;
    cursor: not-allowed;
    background: none !important;
  }
}

@include b(menu) {
  border-right: $--menu-border-right; /*顶栏+侧栏分割线*/
  list-style: none;
  position: relative;
  margin: 0;
  padding-left: 0;
  background-color: $--menu-background-color; /*顶栏（默认颜色）+侧栏（默认颜色） 导航背景色*/
  @include utils-clearfix;
  &.el-menu--horizontal {
    border-bottom: $--menu-border-right;
  }

  @include m(horizontal) {
    /*顶栏*/
    border-right: none;
    & > .el-menu-item {
      float: left;
      height: 60px;
      line-height: 60px;
      margin: 0;
      border-bottom: 2px solid transparent;
      color: $--menu-item-font-color; /*顶栏（默认颜色）订单管理  消息中心 文字色*/

      a,
      a:hover {
        color: inherit;
      }

      &:not(.is-disabled):hover,
      &:not(.is-disabled):focus {
        background-color: $--menu-item-background-color-hover; /*顶栏（默认颜色） （处理中心+订单管理）背景色*/
      }
    }
    & > .el-submenu {
      float: left;

      &:focus,
      &:hover {
        outline: none;
        .el-submenu__title {
          /*顶栏（默认颜色） 我的工作台文字未选中文字悬停色*/
          color: $--menu-title-font-color-hover; 
        }
      }

      &.is-active {
        .el-submenu__title { /*未找到对应，这个属性可能写死了*/
          border-bottom: 2px solid $--color-primary; 
          color: $--menu-title-font-color-active;
        }
      }

      & .el-submenu__title {
        height: 60px;
        line-height: 60px;
        border-bottom: 2px solid transparent;
        color: $--menu-item-font-color; /*顶栏（默认颜色）“我的工作台”默认文字色*/

        &:hover {
          background-color: $--menu-item-background-color-hover; /*顶栏（默认颜色）“我的工作台”悬停背景色*/
        }
      }
      & .el-submenu__icon-arrow {
        position: static;
        vertical-align: middle;
        margin-left: 8px;
        margin-top: -3px;
        color: $--menu-item-icon-color; /* 顶栏（全部）“我的工作台”箭头色*/
      }
    }
    & .el-menu {
      & .el-menu-item,
      & .el-submenu__title {
        background-color: $--color-white; /* 顶栏（默认颜色）“我的工作台”下拉菜单背景色*/
        float: none;
        height: 36px;
        line-height: 36px;
        padding: 0 10px;
        color: $--menu-item-font-color; /*顶栏（默认颜色） ”我的工作台“下拉菜单默认文字色*/
        &:hover { 
          background-color: $--menu-item-background-color-hover; /*顶栏（默认颜色）“我的工作台”悬停背景色*/
          font-weight: 700;
        }
      }
      & .el-menu-item.is-active,
      & .el-submenu.is-active > .el-submenu__title {
        color: $--menu-title-font-color-active !important; /*顶栏（默认颜色） ”我的工作台“下拉菜单已选中文字色*/
        font-weight: 700;
      }
    }
    & .el-menu-item:not(.is-disabled):hover,
    & .el-menu-item:not(.is-disabled):focus {
      outline: none;
      color: $--menu-title-font-color-hover; /*顶栏（默认颜色 “处理中心+订单管理”悬停文字色*/
    }
    & > .el-menu-item.is-active {
      border-bottom: 2px solid $--color-primary;
      color:$--menu-title-font-color-active; /*顶栏（默认颜色 “处理中心+订单管理”已选中文字色*/
    }
  }
  @include m(collapse) {
    width: 64px;

    > .el-menu-item,
    > .el-submenu > .el-submenu__title {
      [class^="el-icon-"] {
        margin: 0;
        vertical-align: middle;
        width: 24px;
        text-align: center;
      }
      .el-submenu__icon-arrow {
        display: none;
      }
      span {
        height: 0;
        width: 0;
        overflow: hidden;
        visibility: hidden;
        display: inline-block;
      }
    }

    > .el-menu-item.is-active i {
      color: inherit;
    }

    .el-menu .el-submenu {
      min-width: 200px;
    }

    .el-submenu {
      position: relative;
      & .el-menu {
        position: absolute;
        margin-left: 5px;
        top: 0;
        left: 100%;
        z-index: 10;
        border: 1px solid $--color-border-light; /*未找到对应*/
        border-radius: $--border-radius-small;
        box-shadow: $--box-shadow-light;
      }

      &.is-opened {
        > .el-submenu__title .el-submenu__icon-arrow {
          transform: none;
        }
      }
    }
  }
  @include m(popup) {
    z-index: 100;
    min-width: 200px;
    border: none;
    padding: 5px 0;
    border-radius: $--border-radius-small;
    box-shadow: $--box-shadow-light;

    &-bottom-start {
      margin-top: 5px;
    }
    &-right-start {
      margin-left: 5px;
      margin-right: 5px;
    }
  }
}
@include b(menu-item) {
  @include menu-item;

  & [class^="el-icon-"] {
    margin-right: 5px;
    width: 24px;
    text-align: center;
    font-size: 18px;
    vertical-align: middle;
  }
  @include when(active) {
    color: $--menu-title-font-color-active; /*侧栏（默认颜色） 已选中菜单文字色*/
    i {
      color: inherit;
    }
  }
}

@include b(submenu) {
  list-style: none;
  margin: 0;
  padding-left: 0;

  @include e(title) {
    @include menu-item;

    &:hover {
      background-color: $--menu-item-background-color-hover;  /*侧栏 ”导航一+选项四“悬停背景色*/
    }
  }
  & .el-menu {
    border: none;
  }
  & .el-menu-item {
    height: 50px;
    line-height: 50px;
    padding: 0 45px;
    min-width: 200px;
  }
  @include e(icon-arrow) {
    position: absolute;
    top: 50%;
    right: 20px;
    margin-top: -7px;
    transition: transform 0.3s;
    font-size: 12px;
    color: $--menu-item-icon-color; /*被挡住了，被什么挡住了呢？ 用最高级后影响全部箭头色*/
  }
  @include when(active) {
    .el-submenu__title {
      border-bottom-color: $--color-primary ; /*未找到对应*/
    }
  }
  @include when(opened) {
    > .el-submenu__title .el-submenu__icon-arrow {
      color:$--menu-item-icon-color; /*侧栏(默认颜色) “导航一”箭头色*/
      transform: rotateZ(180deg);
    }
  }
  @include when(disabled) {
    .el-submenu__title,
    .el-menu-item {
      opacity: 0.25;
      cursor: not-allowed;
      background: none !important;
    }
  }
  [class^="el-icon-"] {
    color:$--menu-item-icon-color ; /*侧栏(默认颜色) “导航一”图标色*/
    vertical-align: middle;
    margin-right: 5px;
    width: 24px;
    text-align: center;
    font-size: 18px;
  }
}

@include b(menu-item-group) {
  > ul {
    padding: 0;
  }
  @include e(title) {
    padding: 7px 0 7px 20px;
    line-height: normal;
    font-size: 12px;
    color: $--menu-item-group-font-color; /*侧栏（全部） 分组字体色*/
  }
}

.horizontal-collapse-transition .el-submenu__title .el-submenu__icon-arrow {
  color:$--menu-item-font-color; /*未找到对应*/
  transition: 0.2s;
  opacity: 0;
}
