@import "mixins/mixins";
@import "mixins/utils";
@import "common/var";
@import "select";

@include b(pagination) { /*无特殊说明 均除带背景色的分页*/
  white-space: nowrap;
  padding: 2px 5px;
  color: $--pagination-font-color; /*所有未选中文字 */
  font-weight: bold;
  @include utils-clearfix;

  span:not([class*=suffix]),
  button {
    display: inline-block;
    font-size: $--pagination-font-size;
    min-width: $--pagination-button-width;
    height: $--pagination-button-height;
    line-height: $--pagination-button-height;
    vertical-align: top;
    box-sizing: border-box;
  }

  .el-input__inner {
    text-align: center;
    -moz-appearance: textfield;
    line-height: normal;
  }

  // pagesize 的下拉 icon
  .el-input__suffix {
    right: 0;
    transform: scale(.8);
  }

  .el-select .el-input {
    width: 100px;
    margin: 0 5px;

    .el-input__inner {
      padding-right: 25px;
      border-radius: $--pagination-border-radius;
    }
  }

  button {
    border: none;
    padding: 0 6px;
    background: transparent;

    &:focus {
      outline: none;
    }

    &:hover {
      color: $--pagination-hover-color; /*所有悬停单箭头*/
    }

    &:disabled {
      color: $--pagination-button-disabled-color; /*所有禁用单箭头*/
      background-color: $--pagination-button-disabled-background-color; /*所有禁用单箭头背景色*/
      cursor: not-allowed;
    }
  }

  .btn-prev,
  .btn-next {
    background: center center no-repeat;
    background-size: 16px;
    background-color: $--pagination-background-color; /*所有默认单箭头背景色*/
    cursor: pointer;
    margin: 0;
    color: $--pagination-button-color;   /*所有默认单箭头*/
 
    .el-icon {
      display: block;
      font-size: 12px;
      font-weight: bold;
    }
  }

  .btn-prev {
    padding-right: 12px;
  }

  .btn-next {
    padding-left: 12px;    
  }

  .el-pager li.disabled {
    color: $--color-text-placeholder; /*未找到对应*/
    cursor: not-allowed;
  }

  @include m(small) {
    .btn-prev,
    .btn-next,
    .el-pager li,
    .el-pager li.btn-quicknext,
    .el-pager li.btn-quickprev,
    .el-pager li:last-child {
      border-color: transparent;
      font-size: 12px;
      line-height: 22px;
      height: 22px;
      min-width: 22px;
    }

    .arrow.disabled {
      visibility: hidden;
    }

    .more::before,
    li.more::before {
      line-height: 24px;
    }

    span:not([class*=suffix]),
    button {
      height: 22px;
      line-height: 22px;
    }

    @include e(editor) {
      height: 22px;
      &.el-input .el-input__inner {
        height: 22px;
      }
    }
  }

  @include e(sizes) {
    margin: 0 10px 0 0;
    font-weight: normal;
    color: $--color-text-regular; /*未找到对应*/

    .el-input .el-input__inner {
      font-size: $--pagination-font-size;
      padding-left: 8px;

      &:hover {
        border-color: $--pagination-hover-color;/*附加功能：页数调整框边框色*/
      }
    }
  }

  @include e(total) {
    margin-right: 10px;
    font-weight: normal;
    color: $--color-text-regular; /*条数统计文字色*/
  }

  @include e(jump) {
    margin-left: 24px;
    font-weight: normal;
    color: $--color-text-regular;  /*“前往 页”文字色*/

    .el-input__inner {
      padding: 0 3px;
    }
  }

  @include e(rightwrapper) {
    float: right;
  }

  @include e(editor) {
    line-height: 18px;
    padding: 0 2px;
    height: $--pagination-button-height;
      
    text-align: center;
    margin: 0 2px;
    box-sizing: border-box;
    border-radius: $--pagination-border-radius;

    &.el-input {
      width: 50px;
    }

    &.el-input .el-input__inner {
      height: $--pagination-button-height;
    }

    .el-input__inner::-webkit-inner-spin-button,
    .el-input__inner::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  @include when(background) { /*带有背景色的分页*/
    .btn-prev,
    .btn-next,
    .el-pager li {
      margin: 0 5px;
      background-color: $--color-info-lighter; /*默认背景色*/
      color: $--color-text-regular; /*默认文字和图标色*/
      min-width: 30px;
      border-radius: 2px;

      &.disabled {
        color: $--color-text-placeholder;/*禁用文字色？*/
      }
    }

    .btn-prev, .btn-next {
      padding: 0;

      &:disabled {
        color: $--color-text-placeholder; /*禁用图标色*/
      }
    }

    .el-pager li:not(.disabled) {
      &:hover {
        color: $--pagination-hover-color; /*悬停文字和双箭头色*/
      }

      &.active {
        background-color: $--color-primary; /*选中背景色*/
        color: $--color-white; /*选中文字色*/
      }
    }

    &.el-pagination--small {
      .btn-prev,
      .btn-next,
      .el-pager li {
        margin: 0 3px;
        min-width: 22px;
      }
    }
  }
}

@include b(pager) {
  user-select: none;
  list-style: none;
  display: inline-block;
  vertical-align: top;
  font-size: 0;
  padding: 0;
  margin: 0;

  .more::before {
    line-height: 30px;
  }

  li { /*无特殊标注均排除带背景色的分页*/
    padding: 0 4px;
    background: $--pagination-background-color;/*默认背景色*/
    vertical-align: top;
    display: inline-block;
    font-size: $--pagination-font-size;
    min-width: $--pagination-button-width;
    height: $--pagination-button-height;
    line-height: $--pagination-button-height;
    cursor: pointer;
    box-sizing: border-box;
    text-align: center;
    margin: 0;

    &.btn-quicknext,
    &.btn-quickprev {
      line-height: 28px;
      color: $--pagination-button-color; /*默认“...”色*/
      &.disabled {
        color: $--color-text-placeholder;
      }
    }

    &.btn-quickprev:hover {
      cursor: pointer;
    }

    &.btn-quicknext:hover {
      cursor: pointer;
    }

    &.active + li {
      border-left: 0;
    }

    &:hover {
      color: $--pagination-hover-color;/*未选中悬停文字和双箭头色*/
    }

    &.active {
      color: $--pagination-hover-color; /*已选中文字色*/
      cursor: default;
    }
  }
}
