@import "mixins/mixins";
@import "mixins/utils";
@import "common/var";
@import "select-dropdown";
@import "input";
@import "tag";
@import "option";
@import "option-group";
@import "scrollbar";

@include b(select) {
  display: inline-block;
  position: relative;
  

  .el-select__tags
    >span {
      display: contents;
    }

  &:hover { /*默认悬浮边框色*/
    .el-input__inner { 
      border-color: $--select-border-color-hover;
    }
  }
  

  .el-input__inner { 
    cursor: pointer;
    padding-right: 35px; /*待解释*/

    &:focus {
      border-color: $--select-input-focus-border-color;/*选择完毕之后的焦点状态，选择之前闪过*/
    }
  }
  
  .el-input { /*选择输入框*/
    & .el-select__caret {
      // 控制选择框图标颜色 
      color: $--select-input-icon-color ;
      font-size: $--select-input-font-size;
      transition: transform .3s;
      transform: rotateZ(180deg);
      cursor: pointer;

      @include when(reverse) {
        transform: rotateZ(0deg);
      }

      @include when(show-close) {
        font-size: $--select-font-size;
        text-align: center;
        transform: rotateZ(180deg);
        border-radius: $--border-radius-circle;
        color: $--select-input-icon-color; /*未找到对应*/
        transition: $--color-transition-base;

        &:hover {  /*未找到对应*/
          color: $--select-close-hover-color;
        }
      }
    }

    &.is-disabled {
      & .el-input__inner {
        cursor: not-allowed;

        &:hover {
          border-color: $--select-disabled-border; /*禁用状态 悬停边框色*/
        }
      }
    }

    &.is-focus .el-input__inner { /*输入框焦点状态*/
      border-color: $--select-input-focus-border-color;
      box-shadow: $--select-input-focus-shadow;
    }
  }

  > .el-input {
    display: block;
  }

   // select 远程搜索 输入后文字效果
  @include e(input) {
    border: none;
    outline: none;
    padding: 0;
    margin-left: $--select-input-remote-margin-left;
    color: $--select-input-remote-font-color ; 
    font-size: $--select-font-size;
    appearance: none;
    height: $--select-input-remote-height;
    background-color: transparent;
    @include when(mini) {
      height: $--select-input-remote-height-mini;
    }
    
  }

  // 这是控制哪里 
  @include e(close) {
    cursor: pointer;
    position: absolute;
    top: 8px;
    z-index: $--index-top;
    right: 25px;
    color: $--select-input-icon-color; /* 未找到对应*/
    line-height: 18px;
    font-size: $--select-input-font-size;
    &:hover {
      color:  $--select-close-hover-color; /* 未找到对应 */
    }
  }

  @include e(tags) {
    position: absolute;
    line-height: normal;
    white-space: normal;
    z-index: $--index-normal;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  .el-tag__close {
    margin-top: -2px;
  }


  .el-tag { /* 选择框所有标签*/
    box-sizing: border-box;
    // border-color: $--select-input-tag-icon-close-background-color ;
    margin: 2px 0 2px 6px;
    // background-color:#f0f2f5 ;/*标签背景*/
    // background-color和 border-color加上！后能显示出红色，那是哪里的更高级盖住了它？是el-tag--info

    &__close.el-icon-close { /* 选择框所有标签删除按钮*/
      // #f0f2f500
      background-color: transparent;
      right: -7px;
      top: 0;
      color: $--color-white;  /*标签图标颜色*/ /*被覆盖，可能是el-tag--info*/

      &:hover {
        background-color: $--tag-icon-close-background-color-hover;/*标签图标悬浮背景色*/ /*被覆盖，可能是el-tag--info*/
      }

      &::before {
        display: block;
        transform: translate(0, .5px);
      }
    }
  }
}
