@import "mixins/mixins";

@include b(steps) {
  display: flex;
  
  @include m(simple) {/*对应： 简洁风格步骤条*/
    padding: 13px 8%;
    border-radius: 4px;
    background: $color-background-dark; /*简洁风格步骤条 背景色*/
  }

  @include m(horizontal) {
    white-space: nowrap;
  }

  @include m(vertical) {
    height: 100%;
    flex-flow: column;
  }
}
