@import "mixins/mixins";
@import "common/var";

@include b(switch) {
  display: inline-flex;
  align-items: center;
  position: relative;
  font-size: $--switch-font-size; /*未找到对应*/
  line-height: $--switch-height;  /*文字描述-文字行高-顶部向下，会挤掉下一行*/
  height: $--switch-height; /*开关盒子高度，但不影响开关大小，因为代码写死了*/
  vertical-align: middle;
  @include when(disabled) {
    & .el-switch__core,
    & .el-switch__label {
      cursor: not-allowed;
    }
  }

  @include e(label) {
    transition: .2s;
    height: $--switch-height; /*文字描述行高-底部向上*/
    display: inline-block;
    font-size: $--switch-font-size; /*文字大小似乎也是写死的，只影响盒子高度*/
    font-weight: 500; /*文字描述粗细*/
    cursor: pointer;
    vertical-align: middle;
    color: $--color-text-primary;  /*默认文字样式*/

    @include when(active) {
      color: $--color-primary; /*激活文字样式*/
    }

    @include m(left) {
      margin-right: 10px; /*文字描述-开关间距*/
    }
    @include m(right) {
      margin-left: 10px;/*开关-文字描述间距*/
    }
    & * {
      line-height: 1; /*还是文字行高-居中*/
      font-size: $--switch-font-size;/*文字大小*/
      display: inline-block;
    }
  }

  @include e(input) {

    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    margin: 0;
  }

  @include e(core) { /*core:核心 可能大部分是写死的*/
    margin: 0;
    display: inline-block;
    position: relative;
    width: $--switch-width; /*未找到对应*/
    height: $--switch-height; /*开关高度*/
    border: 1px solid $--switch-off-color; /*未找到对应*/
    outline: none;
    border-radius: $--switch-core-border-radius; /*未找到对应*/
    box-sizing: border-box;
    background: $--switch-off-color; /*未找到对应*/
    cursor: pointer;
    transition: border-color .3s, background-color .3s;
    vertical-align: middle;
    background-color: $--color-background-dark; /*禁用状态关闭背景*/

    &:after { /*开关圆圈按钮*/
      content: "";
      position: absolute;
      top: 1px; /*未找到对应*/
      left: 1px;  /*未找到对应*/
      border-radius: $--border-radius-circle; /*未找到对应*/
      transition: all .3s;
      width: $--switch-button-size; /*未找到对应*/
      height: $--switch-button-size; /*未找到对应*/
      background-color: $--color-white; /*未找到对应*/
      
    }
  }

  @include when(checked) {
    .el-switch__core {
      border-color: $--switch-on-color; /*未找到对应*/
      background-color: $--switch-on-color; /*未找到对应*/
      &::after {
        left: 100%;
        margin-left: -$--switch-button-size - 1px;  /*未找到对应*/
      }
    }
  }

  @include when(disabled) {
    
    opacity: 0.6;
  }

  @include m(wide) {
    .el-switch__label {
      &.el-switch__label--left {
        span {
          left: 10px; /*未找到对应*/
        }
      }
      &.el-switch__label--right {
        span {
          right: 10px; /*未找到对应*/
        }
      }
    }
  }

  & .label-fade-enter,
  & .label-fade-leave-active {
    opacity: 0;
  }
}
