@import "mixins/mixins";
@import "checkbox";
@import "tag";
@import "common/var";

@include b(table-column) {
  @include m(selection) {
    .cell {
      padding-left: 14px;
      padding-right: 14px;
    }
  }
}

@include b(table-filter) {
  border: solid 1px $color-border-light;/*未找到对应*/
  border-radius: 2px;
  background-color: $color-white;/*未找到对应*/
  box-shadow: $dropdown-menu-box-shadow;
  box-sizing: border-box;
  margin: 2px 0;

  /** used for dropdown mode */
  @include e(list) {
    padding: 5px 0;
    margin: 0;
    list-style: none;
    min-width: 100px;
  }

  @include e(list-item) {
    line-height: 36px;
    padding: 0 10px;
    cursor: pointer;
    font-size: $font-size-base;

    &:hover {
      background-color: $dropdown-menuItem-hover-background;/*未找到对应*/
      color: $dropdown-menuItem-hover-color;/*未找到对应*/
    }

    @include when(active) {
      background-color: $color-primary;/*未找到对应*/
      color: $color-white;/*未找到对应*/
    }
  }

  @include e(content) {
    min-width: 100px;
  }

  @include e(bottom) {
    border-top: 1px solid $color-border-light;/*未找到对应*/
    padding: 8px;

    button {
      background: transparent;
      border: none;
      color: $color-text-regular;/*未找到对应*/
      cursor: pointer;
      font-size: $font-size-small;
      padding: 0 3px;

      &:hover {
        color: $color-primary;/*未找到对应*/
      }

      &:focus {
        outline: none;
      }

      &.is-disabled {
        color: $disabled-color-base;/*未找到对应*/
        cursor: not-allowed;
      }
    }
  }

  @include e(wrap) { /*流体高度最大值，改动并没有反应*/
    max-height: 280px;
  }

  @include e(checkbox-group) {
    padding: 10px;

    label.el-checkbox {
      display: block;
      margin-right: 5px;
      margin-bottom: 8px;
      margin-left: 5px;
    }

    .el-checkbox:last-child {
      margin-bottom: 0;
    }
  }
}