@import "../common/var";
// 朴素按钮 
@mixin button-plain($color) { /*对应： 朴素主要 朴素成功 朴素信息 朴素警告 朴素危险*/
  color:$color;
  background: mix($--color-white, $color, 90%);
  border-color: mix($--color-white, $color, 20%);

  &:hover,
  &:focus {
    background: $color;
    border-color: $color;
    color: $--color-white;
  }
  &:active {
    background: mix($--color-black, $color, $--button-active-shade-percent);
    border-color: mix($--color-black, $color, $--button-active-shade-percent);
    color: $--color-white;
    outline: none;
  }

  &.is-disabled { /*对应禁用状态朴素（主要、成功、信息、警告、危险）*/
    &,
    &:hover,
    &:focus,
    &:active {
      color: mix($--color-white, $color, 40%);
      background-color: mix($--color-white, $color, 90%);
      border-color: mix($--color-white, $color, 80%);
    }
  }
}

///*按钮混合规律，不包括默认，朴素，默认圆角按钮，搜索图标按钮*/
@mixin button-variant($color, $background-color, $border-color) {
  color: $color;
  background-color: $background-color;
  border-color: $border-color;

  &:hover,
  &:focus {
    background: mix($--color-white, $background-color, $--button-hover-tint-percent);
    border-color: mix($--color-white, $border-color, $--button-hover-tint-percent);
    color: $color;
  }
  
  &:active {  
    background: mix($--color-black, $background-color, $--button-active-shade-percent);
    border-color: mix($--color-black, $border-color, $--button-active-shade-percent);
    color: $color;
    outline: none;
  }

  &.is-active { /*对应？可能没对应，改成红色未见反应*/
    background: mix($--color-danger, $background-color, $--button-active-shade-percent);
    border-color: mix($--color-danger, $border-color, $--button-active-shade-percent);
    color: $color;
  }

  &.is-disabled { /*对应禁用状态朴素（主要、成功、信息、警告、危险）*/
    &,
    &:hover,
    &:focus,
    &:active {
      color: $--color-white;
      background-color: mix($background-color, $--color-white);/*为什么没指定比例呢？*/
      border-color: mix($border-color, $--color-white);
    }
  }

  &.is-plain { /*对应禁用状态朴素（主要、成功、信息、警告、危险） 边框背景字体颜色都有影响  */
    @include button-plain($background-color);
  }
}

// 按钮的间距字体圆角全局设定，除了圆角按钮。
@mixin button-size($padding-vertical, $padding-horizontal, $font-size, $border-radius) {
  padding: $padding-vertical $padding-horizontal;
  font-size: $font-size;
  border-radius: $border-radius;
  &.is-round {
    padding: $padding-vertical $padding-horizontal;
  }
}
