@import "../common/var";
@import "../mixins/mixins";
@import "./picker-panel.scss";

/*日期选择器
*/
// 日期选择器
@include b(date-picker) {
  // DatePicker 选择日 默认 宽度
  width: 322px;

  //有侧边栏 有时间 
  &.has-sidebar.has-time {
    width: 434px;
  }
  
  // 有侧边栏 
  &.has-sidebar {
    width: 438px;
  }
  
  // 有时间  日期 面板 正文 对象？
  &.has-time .el-picker-panel__body-wrapper {
    // 位置 相对
    position: relative;
  }

  // 日期 面板 内容
  .el-picker-panel__content {
    width: 292px;
  }
  
  // 表格
  table {
    // 表格布局
    table-layout: fixed;
    width: 100%;
  }
  
  // 编辑 对象
  @include e(editor-wrap) {
    // 位置 相对
    position: relative;
    // 显示 ： 表格 单元
    display: table-cell;
    padding: 0 5px;
  }

  // 时间 标题区域
  @include e(time-header) {
    position: relative;
    // DateTimePicker  日期和时间点 输入框与日历区分割线
    border-bottom: 1px solid $--datepicker-inner-border-color;
    font-size: 12px;
    padding: 8px 5px 5px 5px;
    display: table;
    width: 100%;
    // 这个盒子大小的作用是啥~
    box-sizing: border-box;
  }

   // DatePicker 选择日 默认 标题区
  @include e(header) {
    margin: 12px;
    text-align: center;

    // DatePicker 其他日期单位 年 分割线
    @include m(bordered) {
      margin-bottom: 0;
      padding-bottom: 12px;
      border-bottom: solid 1px $--color-border-light;
       // DatePicker 其他日期单位 年 内容区 顶部距离
      & + .el-picker-panel__content {
        margin-top: 0;
      }
    }
  }

    // DatePicker 其他日期单位 年 标题区域
  @include e(header-label) {
    font-size: 16px;
    font-weight: 500;
    padding: 0 5px;
    line-height: 22px;
    text-align: center;
    cursor: pointer;
    color: $--color-text-regular;

    &:hover {
      color: $--datepicker-hover-font-color;
    }

    &.active {
      color: $--datepicker-active-color;
    }
  }

  
  @include e(prev-btn) {
    float: left;
  }

  @include e(next-btn) {
    float: right;
  }

  // 对应区域？
  @include e(time-wrap) {
    padding: 10px;
    text-align: center;
  }

  // 对应区域？
  @include e(time-label) {
    float: left;
    cursor: pointer;
    line-height: 30px;
    margin-left: 10px;
  }
}
