@import "../common/var";

// 日期选择器（其他日期单位（年））
@include b(year-table) {
  font-size: 12px;
  margin: -1px;
  border-collapse: collapse;

  .el-icon {
    color: $--datepicker-icon-color ;/*未找到对应*/
  }

  td {
    text-align: center;
    padding: 20px 3px;
    cursor: pointer;

    &.today {
      .cell {
        color: $--color-primary; /*今年*/
        font-weight: bold;
      }
    }

    &.disabled .cell {/*未找到对应*/
      background-color: $--color-background-base;
      cursor: not-allowed;
      color: $--color-text-placeholder;
      &:hover {
        color: $--color-text-placeholder;
      }
    }

    .cell {/*日期选择器（其他日期单位（年））*/
      width: 60px;
      height: 36px;
      border-radius: 18px;
      display: block;
      line-height: 36px;
      color: $--datepicker-font-color;/*未选中年份数字*/
      margin: 0 auto;

      &:hover { /*悬停年份单元*/
        left: 50%;
        background-color: $--options-background-hover;
        font-weight: $--options-font-weight-hover;
        color: $--datepicker-hover-font-color; 
      }
    }

    &.current:not(.disabled) .cell { /*选中单元*/ /*增加了选中块*/
      width: 60px;
      height: 36px;
      line-height: 36px;
      left: 50%;
      color: $--color-white;
      font-weight: bold;
      background-color: $--color-primary;
      border-radius: 18px;
    }
  }
}
