@import "./var.scss";
@import "../mixins/mixins";

/*弹出框全局样式
*/
// 弹出动效
.v-modal-enter {
  animation: v-modal-in .2s ease;
}

.v-modal-leave {
  animation: v-modal-out .2s ease forwards;
}

@keyframes v-modal-in {
  0% {
    opacity: 0;
  }
  100% {
  }
}

@keyframes v-modal-out {
  0% {
  }
  100% {
    opacity: 0;
  }
}

// 弹出布局？
.v-modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: $popup-modal-opacity;/*弹出框蒙版透明度*/
  background: $popup-modal-background-color; /*弹出框蒙版背景颜色*/
}

// 弹出框 继承父级
@include b(popup-parent) {
  @include m(hidden) {
    overflow: hidden;
  }
}
