/* Element Chalk Variables  Element全局变量*/

// Special comment for theme configurator 主题配置器的特殊注释
// type|skipAutoTranslation|Category|Order 类型|跳过自动翻译|类别|订单
// skipAutoTranslation 

/* Transition 过渡动画
-------------------------- */
$--all-transition: all .3s cubic-bezier(.645,.045,.355,1) !default;
$--fade-transition: opacity 300ms cubic-bezier(0.23, 1, 0.32, 1) !default;
$--fade-linear-transition: opacity 200ms linear !default;
$--md-fade-transition: transform 300ms cubic-bezier(0.23, 1, 0.32, 1), opacity 300ms cubic-bezier(0.23, 1, 0.32, 1) !default;
$--border-transition-base: border-color .2s cubic-bezier(.645,.045,.355,1) !default;
$--color-transition-base: color .2s cubic-bezier(.645,.045,.355,1) !default;


/* 全局颜色-都是色值或者色值运算 */

/* Color 颜色
-------------------------- */

$--color-primary: #155bd4 !default; /*主题色*/
$--color-white: #FFFFFF !default; /*基础色-白色*/
$--color-black: #000000 !default; /*基础色-黑色*/

$--color-success: #209E35 !default; /*功能色-正确状态*/
$--color-warning: #E54409 !default; /*功能色-警告状态*/
$--color-danger: #D40000 !default; /*功能色-危险状态*/
$--color-info: #58595C !default; /*功能色-提示状态*/

$--color-text-primary: #000000 !default;/*一级文本 主要*/
$--color-text-regular: #262729 !default; /*二级文本 常规*/ 
$--color-text-secondary: #73777A !default; /*三级文本 次要*/
$--color-text-placeholder: #ADB0B8 !default;/*四级文本 占位*/

$--color-border-base: #909399 !default; /*一级边框 基础*/
$--color-border-light: #C0C3CC !default; /*二级边框 轻*/

$--color-background-base: #F2F3F5 !default; /*背景 颜色 基础*/
$--color-background-dark: #D8DDE5 !default;  /*增加*/ /*背景 颜色 重*/

/*衍生颜色*/
/// 主题色衍生-叠加白色
$--color-primary-light-1: mix($--color-white, $--color-primary, 10%) !default; 
// hover色
$--color-primary-light-2: mix($--color-white, $--color-primary, 20%) !default; /* #447CDD */
$--color-primary-light-3: mix($--color-white, $--color-primary, 30%) !default; 
$--color-primary-light-4: mix($--color-white, $--color-primary, 40%) !default; 
 // 禁用色
$--color-primary-light-5: mix($--color-white, $--color-primary, 50%) !default; /* #8aadea */
 // 原禁用按钮边框色
$--color-primary-light-6: mix($--color-white, $--color-primary, 60%) !default; /* #A1BDEE */
$--color-primary-light-7: mix($--color-white, $--color-primary, 70%) !default; 
// 原标签边框色
$--color-primary-light-8: mix($--color-white, $--color-primary, 80%) !default; /* #d0def6 */
// 次要按钮背景色
$--color-primary-light-9: mix($--color-white, $--color-primary, 90%) !default; /* #e8effb */

// 暂时用不到 $--color-primary-dark: mix($--color-black, $--color-primary, 90%) !default; 

// 功能色-轻-叠加白色-80%
$--color-success-light: mix($--color-white, $--color-success, 80%) !default;
$--color-warning-light: mix($--color-white, $--color-warning, 80%) !default;
$--color-danger-light: mix($--color-white, $--color-danger, 80%) !default;
$--color-info-light: mix($--color-white, $--color-info, 80%) !default;

// 功能色-更轻-叠加白色-90%
$--color-success-lighter: mix($--color-white, $--color-success, 90%) !default;
$--color-warning-lighter: mix($--color-white, $--color-warning, 90%) !default;
$--color-danger-lighter: mix($--color-white, $--color-danger, 90%) !default;
$--color-info-lighter: mix($--color-white, $--color-info, 90%) !default;


/* 全局样式-引用的色值、其他属性、但不包括具体组件 */

/* 背景 */
$--background-hover: $--color-primary-light-8 !default; /*增加*/ /*背景 悬浮*/
/* 禁用 */
$--disabled-fill-base: $--color-background-base !default;/*禁用 填充 基础*/
$--disabled-color-base: $--color-text-placeholder !default;/*禁用 颜色 基础*/
$--disabled-border-base: $--color-border-light !default;/*禁用 边框 基础*/
/* 链接 */
$--link-color-base: $--color-primary !default;/*链接 颜色 基础*/
$--link-color-hover: $--color-primary !default;/*链接 颜色 悬停*/

/* 边框*/
$--border-width-base: 1px !default;/*边框 宽度 大小 基础*/
$--border-style-base: solid !default;/*边框 样式 基础  ： solid包围边框*/
$--border-color-hover: $--color-primary !default;/*边框 颜色 悬停*/
$--border-base: $--border-width-base $--border-style-base $--color-border-base !default;/*边框 基础 ：边框 宽度 基础  边框 样式 基础  边框 颜色 基础 */
/* 圆角*/
$--border-radius-base: 4px !default; /*大圆角*/
$--border-radius-small: 2px !default;/*小圆角*/
$--border-radius-circle: 100% !default; /*全圆角（只能用于方形）*/
$--border-radius-zero: 0 !default;/*无圆角*/
// 投影
$--box-shadow-base: 0px 0px 4px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.12), 0px 5px 12px 4px rgba(0, 0, 0, 0.09) !default;
$--box-shadow-dark: 0px 16px 24px 2px rgba(0, 4, 10, 0.16), 0px 4px 32px 4px rgba(0, 4, 10, 0.16), 0px 0px 12px -4px rgba(0, 4, 10, 0.16) !default;
$--box-shadow-light: 0px 2px 8px rgba(0, 4, 10, 0.12), 0px 0px 4px rgba(0, 4, 10, 0.12), 0px 0px 4px rgba(0, 4, 10, 0.12) !default;

/* Typography
-------------------------- */
// 字体路径？
$--font-path: 'fonts' !default;
// 字体显示？
$--font-display: 'auto' !default;
$--font-size-extra-large: 20px !default;/*主标题字体大小 最大*/
$--font-size-large: 18px !default; /*标题字体大小 大号*/
$--font-size-medium: 16px !default; /*小标题字体大小 中号*/ 
$--font-size-base: 14px !default;/*正文本体大小 基础*/
$--font-size-small: 13px !default;/*正文（小）字体大小 小号*/
$--font-size-extra-small: 12px !default;/*辅助字体大小 超小号*/
$--font-weight-primary: 500 !default;/*主要字体粗细*/
$--font-weight-secondary: 400 !default;/*次要字体粗细*/
$--font-weight-bold: 600 !default;/*加粗字体粗细*/ /*增加*/

$--font-line-height-primary: 24px !default; /*主要字体行高*/
$--font-line-height-secondary: 16px !default;/*次要字体行高*/

/* Size 大小 这是哪里的大小？
-------------------------- */
$--size-base: 14px !default;

/* z-index 指示？ 在输入框自定义模板那里有出现,具体影响呢？
-------------------------- */
$--index-normal: 1 !default;
$--index-top: 1000 !default;
$--index-popper: 2000 !default;


/* 全局组件样式-各组件的全局样式 */

/* Button 按钮
-------------------------- */
// 按钮全局样式，关联checkbox和radio的单选
$--button-font-size: $--font-size-base !default;
$--button-font-weight: $--font-weight-primary !default;
$--button-border-radius: $--border-radius-base !default;
// 全局纵向padding，但不影响圆角按钮 因为圆角按钮单独的。
$--button-padding-vertical: 12px !default;
$--button-padding-horizontal: 20px !default;
// 按钮中号 
$--button-medium-font-size: $--font-size-base !default; 
$--button-medium-border-radius: $--border-radius-base !default;
$--button-medium-padding-vertical: 10px !default;
$--button-medium-padding-horizontal: 20px !default;
// 按钮小号
$--button-small-font-size: 12px !default;
$--button-small-border-radius: #{$--border-radius-base - 1} !default;
$--button-small-padding-vertical: 9px !default;
$--button-small-padding-horizontal: 15px !default;
// 按钮超小号
$--button-mini-font-size: 12px !default;
$--button-mini-border-radius: #{$--border-radius-base - 1} !default;
$--button-mini-padding-vertical: 7px !default;/*按钮 超小号 内边距 纵向*/
$--button-mini-padding-horizontal: 15px !default;/*按钮 超小号 内边距 横向*/
// 默认按钮
$--button-default-font-color: $--color-text-regular !default;
$--button-default-background-color: $--color-background-base !default;
$--button-default-border-color: $--color-border-base !default;
// 禁用按钮
$--button-disabled-font-color: $--color-text-placeholder !default;
$--button-disabled-background-color: $--color-white !default;
$--button-disabled-border-color: $--color-border-light !default;
// 主要按钮
$--button-primary-border-color: $--color-primary !default;
$--button-primary-font-color: $--color-white !default;
$--button-primary-background-color: $--color-primary !default;
// 成功按钮
$--button-success-border-color: $--color-success !default;
$--button-success-font-color: $--color-white !default;
$--button-success-background-color: $--color-success !default;
// 警告案例
$--button-warning-border-color: $--color-warning !default;
$--button-warning-font-color: $--color-white !default;
$--button-warning-background-color: $--color-warning !default;
// 危险按钮
$--button-danger-border-color: $--color-danger !default;
$--button-danger-font-color: $--color-white !default;
$--button-danger-background-color: $--color-danger !default;
// 信息按钮
$--button-info-border-color: $--color-info !default;
$--button-info-font-color: $--color-white !default;
$--button-info-background-color: $--color-info !default;
// 按钮悬停 按下状态
$--button-hover-tint-percent: 30% !default;/*叠加白色减轻百分比*/
$--button-active-shade-percent: 20% !default;/*叠加黑色加重百分比*/




/* Radio 单选 
-------------------------- */
// 所有单选字体的大小，但是不包括按钮样式整组 带有边框中、小、超小、
$--radio-font-size: $--font-size-base !default; 
// 所有单选字体的粗细
$--radio-font-weight: $--font-weight-primary !default;
// 基础用法和单选框组的字体颜色 ， 按钮样式的可能是由按钮那边控制的。 带有边框的本质上则不是按钮。
$--radio-font-color: $--color-text-regular !default;

// 所有单选输入框的大小，但是不包括按钮样式整组 带有边框中、小、超小。
$--radio-input-height: 14px !default;
$--radio-input-width: 14px !default;
// 所有单选 输入框 的背景色，但是不包括按钮样式整组 带有边框小、超小。
$--radio-input-background-color: $--color-white !default;
// 问题：高度不控制到中等，字体颜色和大小又控制到中等。暂且不改。


// 引用的边框样式集合，包括大小，样式，颜色
$--radio-input-border: $--border-base !default;

// 所有单选输入框边框圆角
$--radio-input-border-radius: $--border-radius-circle !default;
// 未被引用 $--radio-input-border-color: $--color-border-base !default;
// 所有单选输入框的悬浮颜色，但是不包括按钮样式整组 
$--radio-input-border-color-hover: $--color-primary !default;

// 单选 图标 颜色 
// 未被引用 $--radio-icon-color: $--color-white !default;

// 所有未选中 单选 禁用 输入框 边框 颜色  
$--radio-disabled-input-border-color:$--disabled-border-base !default;
// 所有未选中 单选 禁用 输入框 填充 颜色 
$--radio-disabled-input-fill: $--disabled-fill-base !default;
//  所有未选中 单选 禁用 图标 颜色 （单选中心的小点）
$--radio-disabled-icon-color: $--disabled-fill-base !default;

// 单选 禁用 选中 输入框 边框 颜色
$--radio-disabled-checked-input-border-color: $--disabled-border-base !default;
// 单选 禁用 选中 输入框 填充
$--radio-disabled-checked-input-fill: $--disabled-fill-base !default;
// 单选 禁用 选中 图标 颜色 
$--radio-disabled-checked-icon-color: $--disabled-color-base !default;

// 单选 选中 字体 颜色  
$--radio-checked-font-color: $--color-primary !default;

// 单选 选中 选择按钮 边框 颜色 
$--radio-checked-input-border-color: $--color-primary !default;
// 单选 选中 选择按钮 背景 颜色
$--radio-checked-input-background-color: $--color-white !default;

// 单选 选中 图标 颜色 
$--radio-checked-icon-color: $--color-primary !default;


// 单选 带有边框 高度
$--radio-bordered-height: 40px !default;

// 单选 带有边框 内边距
$--radio-bordered-padding: 12px 20px 0 10px !default;
// 单选 带有边框 中号 内边距
$--radio-bordered-medium-padding: 10px 20px 0 10px !default;
// 单选 带有边框 中号 选择按钮 高度
$--radio-bordered-medium-input-height: 14px !default;
// 单选 带有边框 中号 选择按钮 宽度
$--radio-bordered-medium-input-width: 14px !default;
// 单选 带有边框 中号  高度
$--radio-bordered-medium-height: 36px !default;

// 单选 带有边框 小号 内边距
$--radio-bordered-small-padding: 8px 15px 0 10px !default;
// 单选 带有边框 小号 选择按钮 高度
$--radio-bordered-small-input-height: 12px !default;
// 单选 带有边框 小号 选择按钮 宽度
$--radio-bordered-small-input-width: 12px !default;
// 单选 带有边框 小号  高度
$--radio-bordered-small-height: 32px !default;

// 单选 带有边框 超小号 内边距
$--radio-bordered-mini-padding: 6px 15px 0 10px !default;
// 单选 带有边框 超小号 选择按钮 高度
$--radio-bordered-mini-input-height: 12px !default;
// 单选 带有边框 超小号 选择按钮 宽度
$--radio-bordered-mini-input-width: 12px !default;
// 单选 带有边框 超小号  高度
$--radio-bordered-mini-height: 28px !default;

/// fontSize||Font|1  单选 按钮样式 
// 单选 按钮 字体 大小 
$--radio-button-font-size: $--font-size-base !default;

// 单选 按钮 选中 背景 颜色 
$--radio-button-checked-background-color: $--color-primary-light-9 !default;
// 单选 按钮 选中 字体 颜色 
$--radio-button-checked-font-color: $--color-primary !default;
// 单选 按钮 选中 边框 颜色
$--radio-button-checked-border-color: $--color-primary !default;

// 单选 按钮 禁用 选中 填充 
$--radio-button-disabled-checked-fill: $--disabled-fill-base !default;



/* Checkbox 多选
-------------------------- */
// 多选 字体
$--checkbox-font-size: 14px !default;
$--checkbox-font-weight: $--font-weight-primary !default;
$--checkbox-font-color: $--color-text-regular !default;

// 多选 输入框 
$--checkbox-input-height: 14px !default;
$--checkbox-input-width: 14px !default;
$--checkbox-input-border: $--border-base !default;

$--checkbox-border-radius: $--border-radius-small !default;

$--checkbox-background-color: $--color-white !default;

// 多选 禁用 
$--checkbox-disabled-border-color: $--disabled-border-base !default;
$--checkbox-disabled-input-fill: $--disabled-fill-base !default;
$--checkbox-disabled-icon-color: $--disabled-color-base !default;
$--checkbox-disabled-checked-input-fill: $--disabled-fill-base !default;
$--checkbox-disabled-checked-input-border-color: $--disabled-border-base !default;
$--checkbox-disabled-checked-icon-color: $--color-text-placeholder !default;

$--checkbox-checked-font-color: $--color-primary !default;
$--checkbox-checked-input-border-color: $--color-primary !default;
$--checkbox-checked-background-color: $--color-primary !default;
$--checkbox-checked-icon-color: $--color-white !default;
$--checkbox-input-border-color-hover: $--color-primary !default;

// 多选 带有边框
$--checkbox-bordered-height: 40px !default;

$--checkbox-bordered-padding: 9px 20px 9px 10px !default;
$--checkbox-bordered-medium-padding: 7px 20px 7px 10px !default;
$--checkbox-bordered-small-padding: 5px 15px 5px 10px !default;
$--checkbox-bordered-mini-padding: 3px 15px 3px 10px !default;

$--checkbox-bordered-medium-input-height: 14px !default;
$--checkbox-bordered-medium-input-width: 14px !default;
$--checkbox-bordered-medium-height: 36px !default;

$--checkbox-bordered-small-input-height: 12px !default;
$--checkbox-bordered-small-input-width: 12px !default;
$--checkbox-bordered-small-height: 32px !default;

$--checkbox-bordered-mini-input-height: 12px !default;
$--checkbox-bordered-mini-input-width: 12px !default;
$--checkbox-bordered-mini-height: 28px !default;

$--checkbox-button-checked-background-color: $--color-primary-light-9 !default;
$--checkbox-button-checked-font-color: $--color-primary !default;
$--checkbox-button-checked-border-color: $--color-primary !default;


/* Input 输入框
-------------------------- */
// 输入框 字体 大小 ：
$--input-font-size: $--font-size-base !default;

// 输入框 字体 颜色 
$--input-font-color: $--color-text-regular !default;
/// height||Other|4
// 输入框 宽度
$--input-width: 140px !default;
/// height||Other|4
// 输入框 高度
$--input-height: 40px !default;
// 输入框 边框 
$--input-border: $--border-base !default;
// 输入框 边框 颜色
$--input-border-color: $--color-border-base !default;

/// borderRadius||Border|2 边框圆角
// 输入框 边框 圆角 
$--input-border-radius: $--border-radius-base !default;
// 输入框 边框 颜色 悬停 
$--input-border-color-hover: $--border-color-hover !default;

// 输入框 背景 颜色 
$--input-background-color: $--color-white !default;
// 输入框 填充 禁用 
$--input-fill-disabled: $--disabled-fill-base !default;
// 输入框 颜色 禁用 
$--input-color-disabled: $--disabled-border-base !default;

// 输入框 图标 颜色
$--input-icon-color: $--color-text-secondary !default;

// 输入框 占位 颜色
$--input-placeholder-color: $--color-text-secondary !default;
// 输入框 最大 宽度
$--input-max-width: 314px !default;

// 输入框 悬停 边框 
$--input-hover-border: $--color-primary !default;
// 输入框 清除 悬停 颜色 
$--input-clear-hover-color: $--color-text-regular !default;

// 输入框 焦点 边框 
$--input-focus-border: $--color-primary !default;
// 输入框 焦点 填充 
$--input-focus-fill: $--color-white !default;

// 输入框 禁用 填充 
$--input-disabled-fill: $--disabled-fill-base !default;
// 输入框 禁用 边框
$--input-disabled-border: $--disabled-border-base !default;
// 输入框 禁用 颜色
$--input-disabled-color: $--disabled-color-base !default;
// 输入框 禁用 占位 颜色 
$--input-disabled-placeholder-color: $--color-text-placeholder !default;

/// fontSize||Font|1
// 输入框 中号 字体 大小
$--input-medium-font-size: 14px !default;
/// height||Other|4
// 输入框 中号 高度
$--input-medium-height: 36px !default;
/// fontSize||Font|1
// 输入框 小号 字体 大小
$--input-small-font-size: 13px !default;
/// height||Other|4
// 输入框 小号 高度
$--input-small-height: 32px !default;
/// fontSize||Font|1
// 输入框 超小号 字体 大小
$--input-mini-font-size: 12px !default;
/// height||Other|4
// 输入框 超小号 高度
$--input-mini-height: 28px !default;




/* Select 选择器
-------------------------- */
// 选择器 边框 颜色 悬停
$--select-border-color-hover: $--color-primary !default;
// 选择器 禁用 边框
$--select-disabled-border: $--disabled-border-base !default;
/// fontSize||Font|1
// 选择器 字体 大小 
$--select-font-size: $--font-size-base !default;
// 选择器 关闭 悬停 颜色 ：
$--select-close-hover-color: $--color-text-regular !default;/*待解决-改动无效果*/

$--select-clearable-hover-color: $--color-text-regular !default;/*增加的*/

// 选择器 输入框  字体图标 颜色   /*案例：Select选择器所有图标*/
$--select-input-color: $--color-text-secondary !default;
// 选择器 多选 输入框 颜色      /*案例：Select选择器-远程搜索和创建条目输入后文字*/
$--select-multiple-input-color: $--color-text-secondary !default;
 
// 选择器 输入框 聚焦 边框 颜色
$--select-input-focus-border-color: $--color-primary !default;
/// fontSize||Font|1
// 选择器 输入框 字体图标 大小
$--select-input-font-size: 14px !default;




// 选择器 选项 颜色
$--select-option-color: $--color-text-regular !default;
// 选择器 选项 禁用 颜色 
$--select-option-disabled-color: $--color-text-placeholder !default;
// 选择器 选项 禁用 背景 
$--select-option-disabled-background: $--color-white !default;
/// height||Other|4
// 选择器 选项 高度
$--select-option-height: 34px !default;
// 选择器 选项 悬停 背景 
$--select-option-hover-background: $--background-hover !default;

// 选择器 选项 选中 字体 颜色 
$--select-option-selected-font-color: $--color-primary !default;
// 选择器 选项 选中 悬停 
$--select-option-selected-hover: $--color-background-base !default;

// 选择器 分组标题 颜色 案例：
$--select-group-color: $--color-info !default;
// 选择器 组 高度 
$--select-group-height: 30px !default;
// 选择器 组 字体 大小
$--select-group-font-size: 12px !default;

// 选择器 下拉 背景 
$--select-dropdown-background: $--color-white !default;
// 选择器 下拉 投影
$--select-dropdown-shadow: $--box-shadow-light !default;
// 选择器 下拉 无选项 颜色
$--select-dropdown-empty-color: $--color-text-secondary !default;

/// height||Other|4 高度 选项
// 选择器 下拉 最大 高度
$--select-dropdown-max-height: 274px !default;
// 选择器 下拉 内边距 
$--select-dropdown-padding: 6px 0 !default;
// 选择器 下拉 无选项 内边距
$--select-dropdown-empty-padding: 10px 0 !default;
// 选择器 下拉 边框 ： 包围边框大小
$--select-dropdown-border: solid 1px $--color-border-light !default;


/* Alert 警告提示
-------------------------- */
// 警告 内边距
$--alert-padding: 8px 16px !default;
/// borderRadius||Border|2 边框圆角
// 警告 边框 圆角 ： 边框 圆角 基础
$--alert-border-radius: $--border-radius-base !default;
/// fontSize||Font|1 字体 大小
// 警告 标题 字体 大小 
$--alert-title-font-size: 13px !default;
/// fontSize||Font|1
// 警告 描述 字体 大小
$--alert-description-font-size: 12px !default;
/// fontSize||Font|1
// 警告 关闭 字体 大小
$--alert-close-font-size: 12px !default;
/// fontSize||Font|1
// 警告 关闭 定制 字体 大小
$--alert-close-customed-font-size: 13px !default;

// 警告 正确 颜色
$--alert-success-color: $--color-success-lighter !default;
// 警告 信息 颜色
$--alert-info-color: $--color-info-lighter !default;
// 警告 警告 颜色 
$--alert-warning-color: $--color-warning-lighter !default;
// 警告 危险 颜色 
$--alert-danger-color: $--color-danger-lighter !default;

/// height||Other|4
// 警告 图标 大小
$--alert-icon-size: 16px !default;
/// height||Other|4
// 警告 图标 大号 大小
$--alert-icon-large-size: 28px !default;


/* MessageBox 弹框
-------------------------- */

// 弹框 标题 颜色 
$--messagebox-title-color: $--color-text-primary !default;
// 弹框 宽度 
$--msgbox-width: 420px !default;
// 弹框 边框 圆角
$--msgbox-border-radius: $--border-radius-base !default;
/// fontSize||Font|1
// 弹框 字体 大小 
$--messagebox-font-size: $--font-size-large !default;
/// fontSize||Font|1
// 弹框 居中 字体 大小
$--messagebox-content-font-size: $--font-size-base !default;

// 弹框 居中 字体 颜色
$--messagebox-content-color: $--color-text-regular !default;
/// fontSize||Font|1
// 弹框 错误 字体 大小
$--messagebox-error-font-size: 12px !default;
// 弹框 内边距 主要
$--msgbox-padding-primary: 15px !default;

// 弹框 正确 颜色
$--messagebox-success-color: $--color-success !default;

// 弹框 提示 颜色
$--messagebox-info-color: $--color-info !default;

// 弹框 警告 颜色 
$--messagebox-warning-color: $--color-warning !default;

// 弹框 危险 颜色  
$--messagebox-danger-color: $--color-danger !default;


/* Message  消息提示
-------------------------- */
// 消息提示 投影
$--message-shadow: $--box-shadow-base !default;
// 消息提示 超小号 宽度 
$--message-min-width: 380px !default;
// 消息提示 背景 颜色 
$--message-background-color: $--color-background-base !default;
// 消息提示 内边距
$--message-padding: 15px 15px 15px 20px !default;

// 消息提示 关闭 图标 颜色
$--message-close-icon-color: $--color-text-placeholder !default;
/// height||Other|4
// 消息提示 关闭 大小
$--message-close-size: 16px !default;

// 消息提示 关闭 悬停 颜色
$--message-close-hover-color: $--color-text-secondary !default;


// 消息提示 正确 字体 颜色 
$--message-success-font-color: $--color-success !default;

// 消息提示 提示 字体 颜色
$--message-info-font-color: $--color-info !default;

// 消息提示 警告 字体 颜色
$--message-warning-font-color: $--color-warning !default;

// 消息提示 危险 字体 颜色 
$--message-danger-font-color: $--color-danger !default;


/* Notification  通知
-------------------------- */
// 通知 宽度
$--notification-width: 330px !default;

/// padding||Spacing|3
// 通知 内边距 
$--notification-padding: 14px 26px 14px 13px !default;
// 通知-圆角
$--notification-radius: 8px !default;
// 通知 投影 ： 盒子 投影 轻
$--notification-shadow: $--box-shadow-light !default;


// 通知 边框 颜色 
$--notification-border-color: $--color-white !default;
// 通知 图标 大小
$--notification-icon-size: 24px !default;
// 通知 关闭 字体 大小 
$--notification-close-font-size: $--message-close-size !default;
// 通知 组 左边距 ？对应在哪里
$--notification-group-margin-left: 13px !default;
// 通知 组 右边距
$--notification-group-margin-right: 8px !default;
/// fontSize||Font|1
// 通知 内容 字体 大小 
$--notification-content-font-size: $--font-size-base !default;

// 通知 内容 颜色 
$--notification-content-color: $--color-text-regular !default;
/// fontSize||Font|1
// 通知 标题 字体 大小
$--notification-title-font-size: 16px !default;

// 通知 字体 颜色
$--notification-title-color: $--color-text-primary !default;


// 通知 关闭 颜色 
$--notification-close-color: $--color-text-secondary !default;

// 通知 关闭 悬停 颜色 
$--notification-close-hover-color: $--color-text-regular !default;


// 通知 正确 图标 颜色 
$--notification-success-icon-color: $--color-success !default;

// 通知 提示 图标 颜色 
$--notification-info-icon-color: $--color-info !default;

// 通知 警告 图标 颜色 
$--notification-warning-icon-color: $--color-warning !default;

// 通知 危险 图标 颜色
$--notification-danger-icon-color: $--color-danger !default;



/* Cascader 级联选择器
-------------------------- */

// 级联选择器 菜单 字体 颜色 
$--cascader-menu-font-color: $--color-text-regular !default;

// 级联选择器 菜单 选中 字体 颜色 
$--cascader-menu-selected-font-color: $--color-primary !default;
// 级联选择器 菜单 填充
$--cascader-menu-fill: $--color-white !default;
// 级联选择器 菜单 字体 大小
$--cascader-menu-font-size: $--font-size-base !default;
// 级联选择器 菜单 圆角 
$--cascader-menu-radius: $--border-radius-base !default;

// 级联选择器 菜单 边框 
$--cascader-menu-border: solid 1px $--color-border-light !default;
// 级联选择器 菜单  投影
$--cascader-menu-shadow: $--box-shadow-light !default;
// 级联选择器 节点 背景 悬停
$--cascader-node-background-hover: $--background-hover !default;
// 级联选择器 节点 颜色  禁用
$--cascader-node-color-disabled:$--color-text-placeholder !default;
// 级联选择器 颜色 无选项 
$--cascader-color-empty: $--color-text-secondary !default;
// 级联选择器 标签 背景 
$--cascader-tag-background: mix($--color-white, $--color-info, 90%) !default;


/* Group 组 控制哪里？
-------------------------- */
// 组 选项 布局
$--group-option-flex: 0 0 (1/5) * 100% !default;
// 组 选项 偏移 底部 
$--group-option-offset-bottom: 12px !default;
// 组 选项 背景 悬停
$--group-option-fill-hover: rgba($--color-black, 0.06) !default;
// 组 标题 颜色：颜色 黑色
$--group-title-color: $--color-black !default;
// 组 标题 字体 大小
$--group-title-font-size: $--font-size-base !default;
// 组 标题 宽度
$--group-title-width: 66px !default;


/* Tab 标签页
-------------------------- */
// 标签页 字体 大小
$--tab-font-size: $--font-size-base !default;
// 标签页 边框 线 
$--tab-border-line: 1px solid $--color-border-base !default;
// 标签页 标题 颜色 激活 
$--tab-header-color-active: $--color-text-secondary !default;
// 标签页 标题 颜色 悬停
$--tab-header-color-hover: $--color-text-regular !default;
// 标签页 标题 颜色 
$--tab-header-color: $--color-text-regular !default;
// 标签页 标题 填充 激活 
$--tab-header-fill-active: rgba($--color-black, 0.06) !default; /*独立色值待调整*/
// 标签页 标题 填充 悬停 
$--tab-header-fill-hover: rgba($--color-black, 0.06) !default; /*独立色值待调整*/
// 标签页 纵向 标题 宽度 
$--tab-vertical-header-width: 90px !default;
// 标签页 纵向 标题  计数 颜色
$--tab-vertical-header-count-color: $--color-white !default;
// 标签页 纵向 标题 计数 填充
$--tab-vertical-header-count-fill: $--color-text-secondary !default;



/* cascader 级联选择器 
-------------------------- */
// 级联选择器 宽度
$--cascader-height: 200px !default;


/* Switch 开关
-------------------------- */

// 开关 开 颜色 
$--switch-on-color: $--color-primary !default;

// 开关 关 颜色 
$--switch-off-color: $--color-border-light !default;
/// fontSize||Font|1
// 开关 字体 大小 
$--switch-font-size: $--font-size-base !default;
// 开关 核心 边框 圆角  
$--switch-core-border-radius: 10px !default;
// height||Other|4 TODO: width 代码写死的40px 所以下面这三个属性都没意义
$--switch-width: 40px !default;
// height||Other|4
$--switch-height: 20px !default;
// height||Other|4
$--switch-button-size: 16px !default;


/* Dialog  对话框
-------------------------- */
// 对话框 背景 颜色 
$--dialog-background-color: $--color-white !default;
// 对话框 盒子 投影 
$--dialog-box-shadow: $--box-shadow-dark !default;
/// fontSize||Font|1
// 对话框 标题 字体 大小 
$--dialog-title-font-size: $--font-size-large !default;
/// fontSize||Font|1 
// 对话框 内容 字体 大小 
$--dialog-content-font-size: 14px !default;
/// fontLineHeight||LineHeight|2
// 对话框 字体  行高 
$--dialog-font-line-height: $--font-line-height-primary !default;
/// padding||Spacing|3
// 对话框 内边距 主要
$--dialog-padding-primary: 20px !default;


/* Table 表格 
-------------------------- */

// 表格 边框 颜色 
$--table-border-color: #C1CBDB !default; /*特定独立色值*/ 
// 表格 边框 全包围  
$--table-border: 1px solid $--table-border-color !default;

// 表格 字体 颜色
$--table-font-color: $--color-text-regular !default;

// 表格 标题 字体 颜色
$--table-header-font-color: $--color-text-primary !default;

// 表格 行 悬停 背景 颜色 
$--table-row-hover-background-color: $--background-hover !default;
// 表格 当前 行 背景 颜色 ：
$--table-current-row-background-color: $--color-primary-light-9 !default;

// 表格 标题 背景 颜色 
$--table-header-background-color: #EBF0FA !default;/*特定独立色值*/ 
// 表格 固定 盒子 投影
$--table-fixed-box-shadow: $--box-shadow-base !default;


/* Pagination 分页
-------------------------- */
/// fontSize||Font|1
// 分页 字体 大小
$--pagination-font-size: 13px !default;

// 分页 背景 颜色 
$--pagination-background-color: $--color-white !default;

// 分页 字体 颜色
$--pagination-font-color: $--color-text-primary !default;
// 分页 边框 圆角
$--pagination-border-radius: 3px !default;

// 分页 按钮 颜色 
$--pagination-button-color: $--color-text-primary !default;

/// height||Other|4
// 分页 按钮 宽度
$--pagination-button-width: 35.5px !default;
/// height||Other|4
// 分页 按钮 高度
$--pagination-button-height: 28px !default;

// 分页 按钮 禁用 颜色 
$--pagination-button-disabled-color: $--color-text-placeholder !default;

// 分页 按钮 禁用 背景 颜色 
$--pagination-button-disabled-background-color: $--color-white !default;

// 分页 悬停 颜色 
$--pagination-hover-color: $--color-primary !default;


/* Popup
-------------------------- */

// 弹出框 蒙版 背景 颜色
$--popup-modal-background-color: $--color-black !default;
/// opacity||Other|1
// 蒙版透明度
$--popup-modal-opacity: 0.5 !default;

/* Popover 弹出框
-------------------------- */

// 弹出框 背景 颜色
$--popover-background-color: $--color-white !default;
/// fontSize||Font|1
// 弹出框 字体 大小
$--popover-font-size: $--font-size-base !default;

// 弹出框 边框 颜色 同样控制箭头
$--popover-border-color: $--color-border-light !default;
// 弹出框 箭头  大小
$--popover-arrow-size: 6px  !default;

/// padding||Spacing|3
// 弹出框 内边距
$--popover-padding: 12px !default;
// 弹出框 内边距 大号
$--popover-padding-large: 18px 20px !default;
/// fontSize||Font|1
// 弹出框 标题 字体 大小
$--popover-title-font-size: 16px !default;

// 弹出框 标题 字体 颜色 
$--popover-title-font-color: $--color-text-primary !default;


/* Tooltip 文字提示
-------------------------- */
/// color|1|Color|0
// 文字提示 填充 
$--tooltip-fill: $--color-text-primary !default;
/// color|1|Color|0
// 文字提示 颜色 
$--tooltip-color: $--color-white !default;
/// fontSize||Font|1
// 文字提示 字体 大小
$--tooltip-font-size: 12px !default;

// 文字提示 边框 颜色 
$--tooltip-border-color: $--color-text-primary !default;
// 文字提示 箭头 大小
$--tooltip-arrow-size: 6px !default;
/// padding||Spacing|3
// 文字提示 内边距
$--tooltip-padding: 10px !default;


/* Tag 标签
-------------------------- */

// 标签 提示 颜色
$--tag-info-color: $--color-info !default;

// 标签 主要 颜色
$--tag-primary-color: $--color-primary !default;

// 标签 正确 颜色
$--tag-success-color: $--color-success !default;

// 标签 警告 颜色 
$--tag-warning-color: $--color-warning !default;

// 标签 危险 颜色 
$--tag-danger-color: $--color-danger !default;
/// fontSize||Font|1
// 标签 字 大小
$--tag-font-size: 12px !default;
// 标签 圆角 大小 
$--tag-border-radius: $--border-radius-base !default;
// 标签 内边距
$--tag-padding: 0 10px !default;


/* Tree 树形控件
-------------------------- */

// 树形控件 节点 悬浮 背景 颜色 
$--tree-node-hover-background-color: $--background-hover !default;

// 树形控件 字体 颜色 
$--tree-font-color: $--color-text-regular !default;

// 树形控件 扩大 图标 颜色
$--tree-expand-icon-color: $--color-text-secondary !default;


/* Dropdown 下拉
-------------------------- */
// 下拉 菜单 盒子 投影 
$--dropdown-menu-box-shadow: $--box-shadow-light !default;
// 下拉 菜单选项 悬停 填充 
$--dropdown-menuItem-hover-fill: $--color-primary-light-9 !default;
// 下拉 菜单 悬停 颜色
$--dropdown-menuItem-hover-color: $--link-color-base !default;


/* Badge 标记
-------------------------- */

// 标记 背景 颜色 
$--badge-background-color: $--color-danger !default;
// 标记
$--badge-radius: 10px !default;
/// fontSize||Font|1
// 标记
$--badge-font-size: 12px !default;
/// padding||Spacing|3
// 标记
$--badge-padding: 6px !default;
/// height||Other|4
// 标记
$--badge-size: 18px !default;


/* Card 卡片
--------------------------*/

// 卡片 边框 颜色 
$--card-border-color: $--color-border-light !default;
// 卡片 边框 圆角 
$--card-border-radius: $--border-radius-base !default;
/// padding||Spacing|3
// 卡片 内边距
$--card-padding: 20px !default;


/* Slider 滑块 
--------------------------*/

// 滑块 已选中 背景 颜色
$--slider-main-background-color: $--color-primary !default;

// 滑块 未选中 背景 颜色 
$--slider-runway-background-color: $--color-border-light !default;
// 滑块 按钮 悬停 颜色  
$--slider-button-hover-color: mix($--color-primary, black, 97%) !default;
// 滑块 停止 背景 颜色 
$--slider-stop-background-color: $--color-white !default;
// 滑块 禁用 颜色 
$--slider-disable-color: $--color-text-placeholder !default;
// 滑块 边缘
$--slider-margin: 16px 0 !default;
// 滑块 边框 圆角 
$--slider-border-radius: 3px !default; /*独立圆角*/
/// height|1|Other|4
// 滑块 高度
$--slider-height: 6px !default; 
/// height||Other|4
// 滑块 按钮 大小
$--slider-button-size: 16px !default;
// 滑块 按钮 包装（变大） 大小
$--slider-button-wrapper-size: 36px !default;
// 滑块 按钮 包装（变大） 抵消
$--slider-button-wrapper-offset: -15px !default;


/* Steps 步骤条
--------------------------*/
// 步骤条 边框 颜色 
$--steps-border-color: $--disabled-border-base !default;
// 步骤条 边框 圆角
$--steps-border-radius: $--border-radius-base !default; 
// 步骤条 内边距 
$--steps-padding: 20px !default;


/* Menu 菜单
--------------------------*/
/// fontSize||Font|1
// 菜单 选项 字体 大小 
$--menu-item-font-size: $--font-size-base !default;

// 菜单 选项 字体 颜色
$--menu-item-font-color: $--color-text-primary !default;

// 菜单 背景 颜色 
$--menu-background-color: $--color-white !default;
// 菜单 选项 悬停 填充 
$--menu-item-hover-fill: $--border-color-hover !default;


/* Rate 评分
--------------------------*/
// 评分 高度
$--rate-height: 20px !default;
/// fontSize||Font|1
// 评分 字体 大小
$--rate-font-size: $--font-size-base !default;
/// height||Other|3
// 评分 图标 大小
$--rate-icon-size: 18px !default;
/// margin||Spacing|2
// 评分 图标 外边距
$--rate-icon-margin: 6px !default;
// 评分 图标 颜色 
$--rate-icon-color: $--color-text-placeholder !default;


/* DatePicker 日期选择器
--------------------------*/
// 日期选择器 字体 颜色 
$--datepicker-font-color: $--color-text-regular !default;
/// color|1|Color|0
// 日期选择器 关闭 字体 颜色 
$--datepicker-off-font-color: $--color-text-placeholder !default;

// 日期选择器 标题 字体 颜色 
$--datepicker-header-font-color: $--color-text-regular !default;
// 日期选择器 图标 颜色 
$--datepicker-icon-color: $--color-text-primary !default;
// 日期选择器 边框 颜色
$--datepicker-border-color: $--disabled-border-base !default;

// 日期选择器 选项 边框 颜色 
$--datepicker-inner-border-color: $--color-border-light !default;

// 日期选择器 选项  背景 颜色 
$--datepicker-inrange-background-color: $--background-hover !default;

// 日期选择器 选项 悬停 背景 颜色 
$--datepicker-inrange-hover-background-color: $--background-hover !default;

// 日期选择器 激活 颜色 
$--datepicker-active-color: $--color-primary !default;

// 日期选择器 悬停 字体 颜色 
$--datepicker-hover-font-color: $--color-primary !default;
// 日期选择器  细胞 悬停 颜色 
$--datepicker-cell-hover-color: $--color-white !default; 


/* Loading 加载
--------------------------*/
/// height||Other|4
// 加载 旋转 大小
$--loading-spinner-size: 42px !default;
/// height||Other|4
// 加载 全屏 旋转 大小
$--loading-fullscreen-spinner-size: 50px !default;


/* Scrollbar 滚动条
--------------------------*/
// 滚动条 背景 颜色
$--scrollbar-background-color: rgba($--color-text-secondary, .3) !default;
// 滚动条 悬停 背景 颜色 
$--scrollbar-hover-background-color: rgba($--color-text-secondary, .5) !default;


/* Carousel 走马灯
--------------------------*/
/// fontSize||Font|1
// 走马灯 箭头 字体 大小
$--carousel-arrow-font-size: 12px !default;
// 走马灯 箭头 大小
$--carousel-arrow-size: 36px !default;
// 走马灯 箭头 背景
$--carousel-arrow-background: rgba(31, 45, 61, 0.11) !default;
// 走马灯 箭头 悬停 背景
$--carousel-arrow-hover-background: rgba(31, 45, 61, 0.23) !default;
/// width||Other|4
// 走马灯 指示器 宽度
$--carousel-indicator-width: 30px !default;
/// height||Other|4
// 走马灯 指示器 高度
$--carousel-indicator-height: 2px !default;
// 走马灯 指示器 内边距 水平
$--carousel-indicator-padding-horizontal: 4px !default;
// 走马灯 指示器 内边距 垂直
$--carousel-indicator-padding-vertical: 12px !default;
// 走马灯 指示器 选中 颜色 ： 
$--carousel-indicator-out-color: $--border-color-hover !default;


/* Collapse 折叠面板
--------------------------*/

// 折叠面板 边框 颜色 
$--collapse-border-color: $--color-border-light !default;
/// height||Other|4
// 折叠面板 标题 高度
$--collapse-header-height: 48px !default;

// 折叠面板 标题 背景 颜色 
$--collapse-header-background-color: $--color-white !default;

// 折叠面板 标题 字体 颜色 
$--collapse-header-font-color: $--color-text-primary !default;
/// fontSize||Font|1
// 折叠面板 标题 字体 大小
$--collapse-header-font-size: 13px !default;

// 折叠面板 内容 背景 颜色
$--collapse-content-background-color: $--color-white !default;
/// fontSize||Font|1
// 折叠面板 内容 字体 大小 
$--collapse-content-font-size: 13px !default;

// 折叠面板 内容 字体 颜色 
$--collapse-content-font-color: $--color-text-primary !default;


/* Transfer 穿梭框
--------------------------*/
// 穿梭框 边框 颜色 
$--transfer-border-color: $--color-border-base !default;
// 穿梭框 边框 圆角 
$--transfer-border-radius: $--border-radius-base !default;
/// height||Other|4
// 穿梭框 面板 宽度
$--transfer-panel-width: 200px !default;
/// height||Other|4
// 穿梭框 面板 标题 高度
$--transfer-panel-header-height: 40px !default;

// 穿梭框 面板 标题 背景 高度
$--transfer-panel-header-background-color: $--color-background-base !default;
/// height||Other|4
// 穿梭框 面板 底部 高度
$--transfer-panel-footer-height: 40px !default;
/// height||Other|4
// 穿梭框 面板 内容区 高度
$--transfer-panel-body-height: 246px !default;
/// height||Other|4
// 穿梭框 选项 高度
$--transfer-item-height: 30px !default;
/// height||Other|4
// 穿梭框 筛选器 高度
$--transfer-filter-height: 32px !default;


/* Header 标题？影响哪些
  --------------------------*/
  // 标题 内边距
$--header-padding: 0 20px !default;


/* Footer 页脚？影响哪些
--------------------------*/
// 页脚 内边距
$--footer-padding: 0 20px !default;


/* Main 主要？影响哪些
--------------------------*/
// 主要 内边距
$--main-padding: 20px !default;


/* Timeline 时间线
--------------------------*/
// 时间线 节点 大小 正常
$--timeline-node-size-normal: 12px !default;
// 时间线 节点 大号 
$--timeline-node-size-large: 14px !default;
// 时间线 节点 颜色
$--timeline-node-color: $--color-border-light !default;


/* Backtop 回到顶部
--------------------------*/

// 回到顶部 背景 颜色
$--backtop-background-color: $--color-white !default;

// 回到顶部 字体 颜色 
$--backtop-font-color: $--color-primary !default;

// 回到顶部 悬停 背景 颜色
$--backtop-hover-background-color: $--background-hover !default;


/* Link 链接
--------------------------*/
/// fontSize||Font|1
// 链接 字体 大小
$--link-font-size: $--font-size-base !default;
/// fontWeight||Font|1
// 链接 字体 粗细 
$--link-font-weight: $--font-weight-primary !default;

// 链接  默认 字体 颜色
$--link-default-font-color: $--color-text-regular !default;

// 链接 默认 激活 颜色 
$--link-default-active-color: $--color-primary !default;

// 链接 禁用 字体 颜色 
$--link-disabled-font-color: $--color-text-placeholder !default;

// 链接 主要 字体 颜色 
$--link-primary-font-color: $--color-primary !default;

// 链接 正确 字体 颜色 
$--link-success-font-color: $--color-success !default;

// 链接  警告 字体 颜色
$--link-warning-font-color: $--color-warning !default;

// 链接  危险 字体 颜色 
$--link-danger-font-color: $--color-danger !default;

// 链接 提示 字体 颜色
$--link-info-font-color: $--color-info !default;


/* Calendar 日历
--------------------------*/
/// border||Other|4
// 日历 边框 ： 表格 边框
$--calendar-border: $--table-border !default;
/// color||Other|4
// 日历 选中 背景 颜色
$--calendar-selected-background-color: $--background-hover !default;
// 日历 单选 宽度
$--calendar-cell-width: 85px !default;


/* Form 表单
-------------------------- */
/// fontSize||Font|1
// 表单 标签 字体 大小
$--form-label-font-size: $--font-size-base !default;


/* Avatar 头像
--------------------------*/

// 头像 字体 颜色
$--avatar-font-color: $--color-white !default;

// 头像 背景 颜色 
$--avatar-background-color: $--color-background-dark !default;/*独立色值*/
/// fontSize||Font Size|1
// 头像 文本 字体 大小
$--avatar-text-font-size: 14px !default;
/// fontSize||Font Size|1
// 头像 图标 字体 大小 
$--avatar-icon-font-size: 18px !default;
/// borderRadius||Border|2
// 头像 边框 圆角
$--avatar-border-radius: $--border-radius-base !default;
/// size|1|Avatar Size|3
// 头像 大号 大小 
$--avatar-large-size: 40px !default;
/// size|1|Avatar Size|3
// 头像 中号 大小
$--avatar-medium-size: 36px !default;
/// size|1|Avatar Size|3
// 头像 小号 大小
$--avatar-small-size: 28px !default;


/* Break-point 响应式断点
--------------------------*/
$--sm: 768px !default;
$--md: 992px !default;
$--lg: 1600px !default;
$--xl: 1920px !default;

// 断点
$--breakpoints: (
  'xs' : (max-width: $--sm - 1),
  'sm' : (min-width: $--sm),
  'md' : (min-width: $--md),
  'lg' : (min-width: $--lg),
  'xl' : (min-width: $--xl)
);

// 断点规范
$--breakpoints-spec: (
  'xs-only' : (max-width: $--sm - 1),
  'sm-and-up' : (min-width: $--sm),
  'sm-only': "(min-width: #{$--sm}) and (max-width: #{$--md - 1})",
  'sm-and-down': (max-width: $--md - 1),
  'md-and-up' : (min-width: $--md),
  'md-only': "(min-width: #{$--md}) and (max-width: #{$--lg - 1})",
  'md-and-down': (max-width: $--lg - 1),
  'lg-and-up' : (min-width: $--lg),
  'lg-only': "(min-width: #{$--lg}) and (max-width: #{$--xl - 1})",
  'lg-and-down': (max-width: $--xl - 1),
  'xl-only' : (min-width: $--xl),
);
// 单行注释
/*
区域注释
*/ 